# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/Elastic-Stack-8.x-Cookbook.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml